body {
  color: #BBBBBB;
  background-color: #333333;
  overflow-x: hidden;
  #overflow-y: hidden;

}


.button-container{
 align:right;
 float :right;
  font-size: 20px;
display:inline;
width: 100%;
text-align: justify;
}
img{
float:left;
padding-right:3px;
}

.amount{
  color:#339933;
}

.button-container svg {
	float: right;
}
