body {
  color: #BBBBBB;
  background-color: #333333;
  overflow-x: hidden;
  #overflow-y: hidden;

}

.title-text{
  margin-left:60px;
  font-style: Trebuchet;
}
.chart-container{
  background-color: #FFFFFF;
}
#chart-paragraph{
  padding-left: 100px;
}

#chart{
  padding-right: 100px;
}

.row{
  margin-left: 40px;
  margin-right: 40px;
}

.button-container{
 align:right;
 float :right;
  font-size: 20px;
display:inline;
width: 100%;
text-align: justify;
}
img{
float:left;
margin-right:20px;
}

.amount{
  color:#0da17c;
}

.button-container svg {
	float: right;
}
